.actualite {
    padding: 65px 0 50px;
    position: relative; 
    .row{
        padding: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .img-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: -1; 
    }
    h2 {
    color: $blanc;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 34px; 
    }
    .bloc-column {
        padding: 0; 
        :first-child {
            padding: 0; 
            padding-left: 36px;
            h2 {
                margin-bottom: 44px;
                width: max-content;
            
            }
            a {
                color: $blanc;
                text-decoration: none;
                background-color: transparent; 
                :hover {
                    color: $blanc;
                    text-decoration: underline; }
            }
        }
    }
    .actus {
        position: relative; 
        border-top: 1px solid $blanc;
        padding: 8px 0 10px;
        transition: all 0.3s ease-in-out;
        opacity: 0.8;
        :hover {
            opacity: 1; }
        h2 {
            font-size: 24px;
            font-weight: 500;
            color: $backfooter;
            text-transform: none;
            margin-bottom: 14px; }
        p {
            margin: 0;
            font-size: 18px;
            font-weight: 300;
            color: $blanc;
            overflow: hidden;
        }
        span {
            color: $blanc;
            font-size: 12px;
            transition: all 0.3s ease-in-out; }
    }
    .btn-actus
    {
        .btn {
            color: $blanc;
            background-color: transparent;
            border: 1px solid transparent;
            margin-top: 20px;
            height: 50px;
            line-height: 50px;
            padding: 0;
            font-size: 16px;
            text-transform: uppercase; 
            :hover {
                color: $blanc;
                background-color: transparent;
                border: 1px solid transparent; }
        }
    }
    .card-rapport {
        padding: 0 20px 23px 0; 
        .rapport {
            border: 1px solid $blanc;
            padding: 4px 7px 7px;
            position: relative;
            height: 100%;
            transition: all 0.4s ease-in-out; }
    }
}
@media only screen and (max-width: 600px) {
    .actualite {
        .row{
            display: block;
        }
        margin-bottom: 0; 
        padding: 0;
        h2{
            font-size: 18px;
            text-align: center;
        }
        .actus {
            padding-top: 0; 
           .time{
                text-align: center;
            }
            p {
                font-size: 0.875rem;
            }
        } 
        .btn-actus{
            margin-top: 0;
            text-align: center;
        }
        .bloc-column 
        {
            :first-child{
                padding: 0 11px;
                h2{
                    margin-bottom: 0;
                }
            }
        }
        .card-rapport{
            padding: 0;
        }
    }
}
@media (min-width:768px)and(max-width: 1024px)
{
    .actualite {
        margin-bottom: 0px; 
        h2 {
            font-size: 24px; 
        }
       
    }
} 

