$gris:#b8b5b5;
$button: #1075bb;
$iconnav:#3ca7f1;
$iconburger:#3ca7f1;
$backfooter:#393939;
$Panafricanh2:#1b539e;
$blanc: #ffffff;
$coleur: #212529;
$grisplatef : #e5e5e5;
$noir : #000000;
$hoverbtn: #0d3365;
$pubs: #00B2BC;
