 ul, li 
 {
     list-style: none;
 }
 %global
 {
    box-sizing: border-box;
 }
 *{
     margin: 0;
     --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     @extend %global;
    ::before
    {
        @extend %global;
    }
    ::after
    {
        @extend %global;
    }
 }
 .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }

 .container 
{
    margin: 0 auto;
    width: 100%;
    max-width: 80rem;
    padding: 0 20px; 
} 
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block; }
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent; 
    :hover {
        color: #0056b3;
        text-decoration: underline; }
}
