.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all .3s ease, top 0.3s ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16); }  
.sr-only {
        position: absolute;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0
    }  
.drawer-hamburger
{
    position: fixed;
    z-index: 4;
    top: 0;
    display: block;
    box-sizing: content-box;
    width: 2rem;
    padding: 0;
    padding: 18px .75rem 30px;
    transition: all .6s cubic-bezier(.19, 1, .22, 1);
    transform: translateZ(0);
    border: 0;
    outline: 0;
    background-color: transparent;
    :hover {
        cursor: pointer;
        background-color: transparent;
    }
}

.drawer-hamburger-icon {
    position: relative;
    display: block;
    margin-top: 10px;
    @extend %drawerb;
    
}
.drawer-hamburger-icon:after {
    @extend %drawerb;
    @extend %drawer;
}

.drawer-hamburger-icon:before{
    @extend %drawerb;
    @extend %drawer;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem; }
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; 
    .nav-link {
        padding-right: 0;
        padding-left: 0; }
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center; }