.plateforme
 {
    position: relative;
    padding-bottom: 75px;
    background-color: $grisplatef;
    padding-top: 125px; 
    .content-nos-garanties {
        padding: 1.56rem 0;
        h2 {
            color: $backfooter;
            font-size: 2.25rem;
            font-weight: 500;
            text-transform: uppercase;
            margin: 2.50rem 0 1.125rem; }
        p {
            color: $noir;
            font-size: 1.37rem;
            font-weight: 300;
            margin-bottom: 1.56rem;
            line-height: 1.7; 
        }
        .btn {
            color: $button;
            background-color: transparent;
            border: 1px solid transparent;
            height: 3.125rem;
            line-height: 3.125rem;
            padding: 0;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: normal; 
            :hover {
                color: $hoverbtn;
                background-color: transparent;
                border: 1px solid transparent; 
                i {
                    margin-left: 30px; }
            }
            i {
                margin-left: 21px;
                transition: all 0.4s ease-in-out;
                color: $Panafricanh2;
                font-weight: 600; }
        }
    }
    .video-plateforme {
        padding: 12px 0; 
        %main{
            width: 100%;
            height: 100%;
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.16);
        }
        img {
            @extend %main;
            object-fit: cover; }
        iframe{
            @extend %main;
        }  
        .vid-bloc {
            height: 100%;
            box-shadow: 8px 8px 15px 7px rgba(0, 0, 0, 0.212); 
        }  
        .h-video {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center; 
            .p-iframe 
            {
                .cover
                {
                    :after {
                        content: initial; }
                }
                iframe {
                    width: 100%; }
            }
              
        }
        .cover {
            position: relative;
            cursor: pointer; 
            :hover{
                :after {
                border-width: 60px 0 60px 103.9px;
                border-color: transparent transparent transparent $hoverbtn; 
                }
                :before {
                    opacity: 0.4; 
                }
            }
            :after {
                content: "";
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
                color: $blanc;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 35px 0 35px 60.6px;
                border-color: transparent transparent transparent $blanc;
                transition: all 0.4s ease-in-out; 
            }
            :before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                opacity: 0;
                background-color: #ffffff;
                transition: all 0.4s ease-in-out; 
            }
            
        }
    }

}

@media only screen and (max-width: 1024px) {
    .plateforme {
      padding-bottom: 30px;
      padding-top: 20px; 
      .content-nos-garanties {
        padding: 20px; 
        h2 {
            font-size: 30px; }
            p {
                font-size: 18px; }
        }
        .video-plateforme{
            .h-video{
                .p-iframe {
                    iframe {
                        height: 18.75rem; 
                    }
                }
            }
        }
    } 
}
@media only screen and (max-width: 600px) {
    .plateforme {
        .content-nos-garanties {
            h2 {
                font-size: 22px; }
            p {
                font-size: 16px; }
          }
          .video-plateforme{
            .h-video{
                .p-iframe {
                    iframe {
                        height: 12.5rem; 
                    }
                }
            }
        }
    } 
}