ul, li {
  list-style: none;
}

*, * ::before, * ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
  padding: 0 20px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a :hover {
  color: #0056b3;
  text-decoration: underline;
}

.col-lg-7, .col-md-12 {
  position: relative;
}

.col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-md-2 {
  -ms-flex: 0 0 16.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-md-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-md-4 {
  -ms-flex: 0 0 33.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-md-5 {
  -ms-flex: 0 0 41.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-md-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-md-7 {
  -ms-flex: 0 0 58.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-md-8 {
  -ms-flex: 0 0 66.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-md-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-md-10 {
  -ms-flex: 0 0 83.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-md-11 {
  -ms-flex: 0 0 91.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-md-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.order-md-first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
          order: -1;
}

.order-md-last {
  -ms-flex-order: 13;
  -webkit-box-ordinal-group: 14;
          order: 13;
}

.order-md-0 {
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
}

.order-md-1 {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.order-md-2 {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.order-md-3 {
  -ms-flex-order: 3;
  -webkit-box-ordinal-group: 4;
          order: 3;
}

.order-md-4 {
  -ms-flex-order: 4;
  -webkit-box-ordinal-group: 5;
          order: 4;
}

.order-md-5 {
  -ms-flex-order: 5;
  -webkit-box-ordinal-group: 6;
          order: 5;
}

.order-md-6 {
  -ms-flex-order: 6;
  -webkit-box-ordinal-group: 7;
          order: 6;
}

.order-md-7 {
  -ms-flex-order: 7;
  -webkit-box-ordinal-group: 8;
          order: 7;
}

.order-md-8 {
  -ms-flex-order: 8;
  -webkit-box-ordinal-group: 9;
          order: 8;
}

.order-md-9 {
  -ms-flex-order: 9;
  -webkit-box-ordinal-group: 10;
          order: 9;
}

.order-md-10 {
  -ms-flex-order: 10;
  -webkit-box-ordinal-group: 11;
          order: 10;
}

.order-md-11 {
  -ms-flex-order: 11;
  -webkit-box-ordinal-group: 12;
          order: 11;
}

.order-md-12 {
  -ms-flex-order: 12;
  -webkit-box-ordinal-group: 13;
          order: 12;
}

.offset-md-5 {
  margin-left: 41.66667%;
}

.offset-md-6 {
  margin-left: 50%;
}

.offset-md-7 {
  margin-left: 58.33333%;
}

.offset-md-8 {
  margin-left: 66.66667%;
}

.offset-md-9 {
  margin-left: 75%;
}

.offset-md-10 {
  margin-left: 83.33333%;
}

.offset-md-11 {
  margin-left: 91.66667%;
}

.justify-content-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-transition: all .3s ease, top 0.3s ease;
  transition: all .3s ease, top 0.3s ease;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.drawer-hamburger {
  position: fixed;
  z-index: 4;
  top: 0;
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 2rem;
  padding: 0;
  padding: 18px .75rem 30px;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  border: 0;
  outline: 0;
  background-color: transparent;
}

.drawer-hamburger :hover {
  cursor: pointer;
  background-color: transparent;
}

.drawer-hamburger-icon, .drawer-hamburger-icon :after, .drawer-hamburger-icon :before {
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #3ca7f1;
}

.drawer-hamburger-icon {
  position: relative;
  display: block;
  margin-top: 10px;
}

.publications {
  margin-bottom: 2.50rem;
}

.publications h2 {
  color: #0d3365;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 95px 0 10px;
  text-align: center;
}

.publications .pub {
  padding: 40px 20px 37px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.publications .pub .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3ca7f1;
  padding: 66px 15px 49px 19px;
}

.publications .pub.first {
  position: relative;
  padding: 0;
}

.publications .pub.first .row {
  height: 100%;
}

.publications .pub.first img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.publications .pub.first p {
  line-height: 1.2;
  letter-spacing: -1px;
  min-height: 120px;
  color: #ffffff;
  font-size: 23px;
}

.publications .pub.first :after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background-color: #393939;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  z-index: -1;
}

.publications .pub.first :hover :after {
  width: 50%;
}

.publications .pub.first :after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background-color: #393939;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  z-index: -1;
}

.publications .pub.second {
  background-color: #e5e5e5;
  position: relative;
}

.publications .pub.second span {
  color: #0d3365;
  font-size: 12px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.publications .pub.second p {
  color: #0d3365;
  font-size: 24px;
  font-weight: 500;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  min-height: 130px;
}

.publications .pub.third {
  background-color: #1b539e;
  padding: 67px 20px 57px;
  min-height: 76px;
}

.publications .pub.third p {
  line-height: 1.3;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  min-height: 76px;
  font-size: 22px;
  color: #ffffff;
}

.publications .discover {
  margin-bottom: 0;
  margin-top: 38px;
}

.publications .discover .btn {
  border-color: transparent;
  font-size: 17px;
  text-transform: uppercase;
}

.publications .discover .btn :hover {
  color: #0d3365;
  border-color: transparent;
  background-color: transparent;
}

.publications .discover .btn :hover i {
  margin-left: 23px;
}

.publications .discover .btn i {
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #00B2BC;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .publications {
    margin-bottom: 1.875rem;
  }
  .publications h2 {
    font-size: 24px;
  }
  .publications .pub {
    padding: 25px 20px;
  }
  .publications .pub :hover {
    opacity: 0.9;
  }
  .publications .pub .time {
    margin-bottom: 3px;
  }
  .publications .pub span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  .publications .pub p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
  }
  .publications .pub.first img {
    width: calc(100% + 30px);
    max-width: unset;
    left: -15px;
  }
}

@media only screen and (max-width: 1024px) {
  .publications h2 {
    font-size: 30px;
  }
}

.actualite {
  padding: 65px 0 50px;
  position: relative;
}

.actualite .img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.actualite h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.actualite .bloc-column {
  padding: 0;
}

.actualite .bloc-column :first-child {
  padding: 0 92px 0 0;
}

.actualite .bloc-column :first-child h2 {
  margin-bottom: 44px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.actualite .actus {
  position: relative;
  border-top: 1px solid #ffffff;
  padding: 8px 0 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.actualite .actus :hover {
  opacity: 1;
}

.actualite .actus h2 {
  font-size: 24px;
  font-weight: 500;
  color: #393939;
  text-transform: none;
  margin-bottom: 14px;
}

.actualite .actus p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.actualite .actus span {
  color: #ffffff;
  font-size: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.actualite .btn-actus .btn {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid transparent;
  margin-top: 20px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.actualite .btn-actus .btn :hover {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid transparent;
}

.actualite .card-rapport {
  padding: 0 20px 23px 0;
}

.actualite .card-rapport .rapport {
  border: 1px solid #ffffff;
  padding: 4px 7px 7px;
  position: relative;
  height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .actualite {
    margin-bottom: 0px;
  }
  .actualite h2 {
    font-size: 24px;
  }
  .actualite .bloc-column :first-child {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 600px) {
  .actualite {
    margin-bottom: 0px;
  }
  .actualite .actus {
    padding-top: 0px;
  }
  .actualite .actus h2 {
    font-size: 1.125rem;
  }
  .actualite .actus p {
    font-size: 0.875rem;
  }
}

.plateforme {
  position: relative;
  padding-bottom: 75px;
  background-color: #e5e5e5;
  padding-top: 125px;
}

.plateforme .content-nos-garanties {
  padding: 1.56rem 0;
}

.plateforme .content-nos-garanties h2 {
  color: #393939;
  font-size: 2.25rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 2.50rem 0 1.125rem;
}

.plateforme .content-nos-garanties p {
  color: #000000;
  font-size: 1.37rem;
  font-weight: 300;
  margin-bottom: 1.56rem;
  line-height: 1.7;
}

.plateforme .content-nos-garanties .btn {
  color: #1075bb;
  background-color: transparent;
  border: 1px solid transparent;
  height: 3.125rem;
  line-height: 3.125rem;
  padding: 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
}

.plateforme .content-nos-garanties .btn :hover {
  color: #0d3365;
  background-color: transparent;
  border: 1px solid transparent;
}

.plateforme .content-nos-garanties .btn :hover i {
  margin-left: 30px;
}

.plateforme .content-nos-garanties .btn i {
  margin-left: 21px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #1b539e;
  font-weight: 600;
}

.plateforme .video-plateforme {
  padding: 12px 0;
}

.plateforme .video-plateforme img, .plateforme .video-plateforme iframe {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.16);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.16);
}

.plateforme .video-plateforme img {
  -o-object-fit: cover;
     object-fit: cover;
}

.plateforme .video-plateforme .vid-bloc {
  height: 100%;
  -webkit-box-shadow: 8px 8px 15px 7px rgba(0, 0, 0, 0.212);
          box-shadow: 8px 8px 15px 7px rgba(0, 0, 0, 0.212);
}

.plateforme .video-plateforme .h-video {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plateforme .video-plateforme .h-video .p-iframe .cover :after {
  content: initial;
}

.plateforme .video-plateforme .h-video .p-iframe iframe {
  width: 100%;
}

.plateforme .video-plateforme .cover {
  position: relative;
  cursor: pointer;
}

.plateforme .video-plateforme .cover :hover :after {
  border-width: 60px 0 60px 103.9px;
  border-color: transparent transparent transparent #0d3365;
}

.plateforme .video-plateforme .cover :hover :before {
  opacity: 0.4;
}

.plateforme .video-plateforme .cover :after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #ffffff;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 0 35px 60.6px;
  border-color: transparent transparent transparent #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.plateforme .video-plateforme .cover :before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.plateforme .video-plateforme .plyr__video-embed {
  height: 0;
  padding-bottom: 56.25%;
}

.plateforme .video-plateforme .plyr__video-embed iframe {
  border: 0;
  left: 0;
  position: absolute;
  top: 0;
}

@media only screen and (max-width: 1024px) {
  .plateforme {
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .plateforme .content-nos-garanties {
    padding: 20px;
  }
  .plateforme .content-nos-garanties h2 {
    font-size: 30px;
  }
  .plateforme .content-nos-garanties p {
    font-size: 18px;
  }
  .plateforme .video-plateforme .h-video .p-iframe iframe {
    height: 18.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .plateforme .content-nos-garanties h2 {
    font-size: 22px;
  }
  .plateforme .content-nos-garanties p {
    font-size: 16px;
  }
  .plateforme .video-plateforme .h-video .p-iframe iframe {
    height: 12.5rem;
  }
}

.reassurance_chiffres {
  position: relative;
}

.reassurance_chiffres .map-reass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.5;
}

.reassurance_chiffres .reassurance {
  position: relative;
  padding: 40px 0 83px;
  z-index: 99999;
}

.reassurance_chiffres .reassurance h2 {
  font-size: 2.25rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.reassurance_chiffres .chiffres .row {
  margin-left: 34px;
  margin-right: 0;
}

.reassurance_chiffres .chiffres .c-chiffres .c-chiffres-item h3 {
  color: #1075bb;
}

.reassurance_chiffres .chiffres .c-chiffres .c-chiffres-item h3 strong {
  font-size: 32px;
  font-weight: 700;
  color: #1075bb;
  line-height: 1;
  padding: 0;
}

.reassurance_chiffres .chiffres .c-chiffres .c-chiffres-item p {
  color: #393939;
  font-weight: 400;
  font-size: 15px;
  margin: 0 0 5px 0;
  padding-left: 10px;
  line-height: 1;
  padding-top: 6px;
}

.reassurance_chiffres .chiffres .c-chiffres .c-chiffres-item strong {
  color: #393939;
  font-weight: 300;
  font-size: 13px;
  margin: 0;
  line-height: 1;
  padding-left: 10px;
  display: block;
}

@media only screen and (max-width: 1024px) {
  .reassurance_chiffres .map-reass {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 600px) {
  .reassurance {
    padding: 30px 20px;
  }
}

footer {
  background-color: #393939;
}

footer h4 {
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

footer p {
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
  margin: 20px 0;
}

footer ul {
  padding: 0;
}

footer ul li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 18px;
}

footer ul li a {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

footer ul li a :after {
  content: '';
  width: 0;
  height: 1px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer ul li a :hover {
  color: #ffffff;
}

.b-footer .b-footer__contact {
  padding-top: 52px;
}

.b-footer .b-footer__contact .container {
  width: 90%;
}

.b-footer .b-footer__contact .container .b-footer__contact--bkr p {
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
  margin: 20px 0;
}

.b-footer .b-footer__contact .container .espaceprive .btns .btn {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.b-footer .b-footer__contact .copyright .pcopyright {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  footer .b-footer__bottomline {
    padding: 30px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */