
   @media only screen and (max-width: 1025px) {
     header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.parent {
       padding-bottom: 0; } }
   @media only screen and (max-width: 1025px) {
     header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.parent.account {
       margin: 0;
       margin-left: 40px; } }

   @media only screen and (max-width: 1025px) {
     header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.startuper .nav-link {
       padding-bottom: 10px;
       border: none;
       display: flex;
        align-items: center;
       font-size:  1rem;
       padding-left: 0; } }
   @media (min-width: 1025px) and (max-width: 1055px) {
     header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons .btn {
       font-size:  0.84375rem; } }
   @media only screen and (max-width: 1290px) {
     header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons .btn-h40 {
       height: 30px;
       line-height: 30px; } }
   @media only screen and (max-width: 1025px) {
     header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons .btn-h40 {
       height: 40px;
       line-height: 25px; } }
   @media only screen and (max-width: 1290px) {
     header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons .btn-w20 {
       padding: 0 5px;
       font-size:  0.875rem; } }
   @media only screen and (max-width: 1025px) {
     header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons .btn-w20 {
       font-size:  1.125rem;
       padding: 0 20px; } }
   @media only screen and (max-width: 1025px) {
     header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons {
       -ms-flex-order: -1;
           order: -1;
       padding: 10px 10px 10px 65px; } }

 
     @media only screen and (max-width: 1025px) {
       header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project {
         -ms-flex-order: -2;
             order: -2;
         padding: 10px 10px 10px 65px; } }

     @media (min-width: 1025px) and (max-width: 1055px) {
       header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project .btn {
         font-size:  0.84375rem; } }
     @media only screen and (max-width: 1290px) {
       header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project .btn-w20 {
         padding: 0 5px;
         font-size:  0.875rem; } }
     @media only screen and (max-width: 1025px) {
       header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project .btn-w20 {
         font-size:  1.125rem;
         padding: 0 20px; } }
     @media only screen and (max-width: 1290px) {
       header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project .btn-h40 {
         height: 30px;
         line-height: 30px; } }
     @media only screen and (max-width: 1025px) {
       header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project .btn-h40 {
         height: 40px;
         line-height: 40px; } }
 
 
   @media only screen and (max-width: 1025px) {
     header .collapse:not(.show) {
       display: block !important; } 
     }
     @media only screen and (max-width: 1025px) {
      header .navbar .navbar-nav {
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
           }

    @media only screen and (max-width: 1025px) {
      header .navbar .navbar-nav .nav-item {
        text-align: center;
        position: relative;
        padding: 0; } 
      }

      @media only screen and (max-width: 1025px) {
        header .navbar .navbar-nav .nav-item .nav-link:after {
          display: none; } }
        
        @media only screen and (max-width: 1025px) {
          header .navbar .navbar-nav .nav-item .nav-link .avatar {
                      width: 40px;
                      max-width: none; } }
        @media only screen and (max-width: 1370px) {
                  header .navbar .navbar-nav .nav-item .nav-link {
                    font-size:  1rem;
                    margin-right: 0;
                    margin-left: 0;
                    margin-top: 0;
                    margin-right: 13px; }
                   }
        @media only screen and (max-width: 1290px) {
                  header .navbar .navbar-nav .nav-item .nav-link {
                    font-size:  0.875rem; } 
                  }
        @media (min-width: 1025px) and (max-width: 1055px) {
                  header .navbar .navbar-nav .nav-item .nav-link {
                    font-size:  0.84375rem; } }
@media only screen and (max-width: 992px) {
                  header .navbar .navbar-nav .nav-item .nav-link {
                    display: inline-block; }
                    header .navbar .navbar-nav .nav-item .nav-link:after {
                      display: none; } 
                    }
@media only screen and (max-width: 1025px) {
                      header .navbar .navbar-nav .nav-item .btn {
                        width: 100%;
                        height: 45px;
                        line-height: 45px;
                        font-size:  1.375rem; } 
                      }
@media only screen and (max-width: 1025px) {
                      header .navbar .navbar-nav .nav-item .btn.btn-transparent-black {
                        border-color: #ffffff;
                        color: #ffffff; }
                        header .navbar .navbar-nav .nav-item .btn.btn-transparent-black:hover {
                          background-color: #ffffff;
                          color: #000000; } }

   
        @media only screen and (max-width: 1025px) {
          header .navbar .navbar-nav .nav-item:hover ul.sous-title {
            position: relative;
            height: auto;
            padding: 0 0 0 95px;
            top: 0;
            transform: translateY(0px);
            transition: none;
            visibility: visible;
            opacity: 1;
            display: none;
            width: 100%;
            text-align: center;
            z-index: 2; } 
          }

      @media only screen and (max-width: 1025px) {
        header .navbar .navbar-nav .nav-item:hover {
          transform: none;
          transition-delay: initial; } 
        }

@media only screen and (max-width: 1025px) {
          header .navbar .navbar-nav .nav-item ul.sous-title {
            padding: 0 0 0 95px;
            background-color: transparent;
            white-space: initial; } 
          }

@media only screen and (max-width: 1370px) {
          header .navbar .navbar-nav .nav-item ul.sous-title {
            margin: 0; } 
          }
@media only screen and (max-width: 1025px) {
          header .navbar .navbar-nav .nav-item ul.sous-title {
            position: relative;
            height: auto;
            top: 0;
            margin: 0;
            transform: translateY(0px);
            transition: none;
            visibility: visible;
            opacity: 1;
            display: none;
            padding: 0 0 0 95px; }
           }


@media only screen and (max-width: 1290px) {
            header .navbar .navbar-nav .nav-item ul.sous-title.show {
              top: 32px; } 
            }
@media only screen and (max-width: 1025px) {
            header .navbar .navbar-nav .nav-item ul.sous-title.show {
              position: relative;
              height: auto;
              padding: 0 0 0 95px;
              top: 0;
              transform: translateY(0px);
              transition: none;
              visibility: visible;
              opacity: 1;
              display: none;
              width: 100%;
              text-align: center;
              z-index: 2;
              background-color: #ffffff; } 
}
   
@media only screen and (max-width: 1025px) {
                header .navbar-collapse {
                flex-basis: 100%;
                flex-grow: 1;
                position: fixed;
                right: -50%;
                  height: 100%;
                  width: 50%;
                  padding-top: 0;
                  color: #ffffff;
                  overflow: scroll;
                  transition: all .2s ease-in-out;
                 }
                 header .navbar-expand-lg .navbar-collapse .navbar-nav {
                  padding: 0;
                  height: 100%;
                  display: -ms-flexbox;
                  display: flex;
                  -ms-flex-wrap: wrap;
                      flex-wrap: wrap;
                  -ms-flex-flow: column;
                      flex-flow: column; } 
                header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item {
                        width: 100%;
                        text-align: left;
                       }
                       header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item .nav-link {
                        color: #ffffff;
                        margin: 0;
                        font-size:  1.75rem;
                        font-weight: 300;
                        padding: 10px 10px 0 65px;
                        width: 100%; } 
                 }