ul, li {
  list-style: none;
}

* {
  margin: 0;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
  padding: 0 20px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.plateforme {
  position: relative;
  padding-bottom: 75px;
  background-color: #e5e5e5;
  padding-top: 125px;
}

.plateforme .content-nos-garanties {
  padding: 25px 0;
}

@media only screen and (max-width: 1024px) {
  .plateforme {
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .plateforme .content-nos-garanties {
    padding: 20px;
  }
}

.reassurance_chiffres {
  position: relative;
}

.reassurance_chiffres .map-reass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.5;
}

.reassurance_chiffres .reassurance {
  position: relative;
  padding: 40px 0 83px;
  z-index: 99999;
}

@media only screen and (max-width: 1024px) {
  .reassurance_chiffres .map-reass {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 600px) {
  .reassurance {
    padding: 30px 20px;
  }
}

footer {
  background-color: #393939;
}

footer h4 {
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

footer p {
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
  margin: 20px 0;
}

footer ul {
  padding: 0;
}

footer ul li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 18px;
}

footer ul li a {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

footer ul li a :after {
  content: '';
  width: 0;
  height: 1px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer ul li a :hover {
  color: #ffffff;
}

.b-footer .b-footer__contact {
  padding-top: 52px;
}

.b-footer .b-footer__contact .container {
  width: 90%;
}

.b-footer .b-footer__contact .container .b-footer__contact--bkr p {
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
  margin: 20px 0;
}

.b-footer .b-footer__contact .copyright .pcopyright {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  footer .b-footer__bottomline {
    padding: 30px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-transition: all .3s ease, top 0.3s ease;
  transition: all .3s ease, top 0.3s ease;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
}

.main-header .navG .drawer-hamburger {
  position: fixed;
  z-index: 4;
  top: 0;
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 2rem;
  padding: 0;
  padding: 18px .75rem 30px;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  border: 0;
  outline: 0;
  background-color: transparent;
  outline: none;
}

.main-header .navG .drawer-hamburger :hover {
  cursor: pointer;
  background-color: transparent;
}

.main-header .navG .drawer-hamburger .sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.main-header .navG .drawer-hamburger .drawer-hamburger-icon {
  position: relative;
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #222;
}

.main-header .navG .drawer-hamburger .drawer-hamburger-icon :after, .main-header .navG .drawer-hamburger .drawer-hamburger-icon :before {
  position: absolute;
  top: -10px;
  left: 0;
  content: " ";
}

.main-header .navG .drawer-hamburger .navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar .contenaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar .navbar-nav .nav-item ul .sous-title {
  position: absolute;
  background-color: #ffffff;
  margin-left: 10px;
  margin-top: 0;
  z-index: 2;
  padding: 10px 10px 10px 3px;
  visibility: hidden;
  -webkit-transition: all .2s ease-in-out 0s, visibility 0s linear;
  transition: all .2s ease-in-out 0s, visibility 0s linear;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */