
.drawer-hamburger-icon:after {
    top: 10px
 }




.nav-tabs {
  border-bottom: 1px solid #dee2e6; }
  .nav-tabs .nav-item {
    margin-bottom: -1px; }
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
      border-color: #e9ecef #e9ecef #dee2e6; }
    .nav-tabs .nav-link.disabled {
      color: #6c757d;
      background-color: transparent;
      border-color: transparent; }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%; }


@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row;
          flex-direction: row; }
      .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
    .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
          flex-basis: auto; }
    .navbar-expand-lg .navbar-toggler {
      display: none; } }



.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal; }

    header .drawer-nav .account > a {
      display: -ms-flexbox;
      display: flex;
      border: none;
      font-size: 16px;
      padding: 15px 0;
      -ms-flex-align: center;
          align-items: center; }
      header .drawer-nav .account > a:hover {
        background-color: transparent;
        border: none; }
      header .drawer-nav .account > a .icon-right-chevron {
        font-size: 10px;
        font-weight: 200;
        margin-left: 8px;
        margin-top: 1px;
        transition-duration: .3s;
        transform: rotate(90deg); }
    header .drawer-nav .account .sous-title {
      position: absolute;
      transform: scaleY(0);
      transform-origin: top;
      transition-duration: .3s;
      transition-timing-function: ease-out;
      background-color: white;
      padding: 0;
      margin-top: 0;
      width: 190px;
      box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.388); }
      header .drawer-nav .account .sous-title a {
        color: #000000;
        border: none;
        padding: 12px 15px;
        display: block;
        font-size: 14px; }
    header .drawer-nav .account .avatar img {
      margin-right: 10px;
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%; }
    header .drawer-nav .account .s-langue i {
      font-size: 26px; }
    header .drawer-nav .account .s-langue .fa-angle-down {
      font-size: 21px;
      margin-left: 8px;
      color: white; }
    header .drawer-nav .account:hover .sous-title {
      transform: scaleY(1); }

    header .drawer-nav .drawer-menu-item {
      color: #000000;
      font-size: 23px;
      margin-bottom: 10px;
      transition: all 0.3s ease-in;
      position: relative; }
  
      header .drawer-nav .drawer-menu-item:hover {
        text-decoration: none; }
        header .drawer-nav .drawer-menu-item:hover span {
          position: relative;
          display: inline-block; }
          header .drawer-nav .drawer-menu-item:hover span::after {
            opacity: 1;
            height: calc(100% + 20px);
            transform: translateY(0); }
      header .drawer-nav .drawer-menu-item span {
        position: relative;
        display: inline-block; }
        header .drawer-nav .drawer-menu-item span::after {
          content: "";
          position: absolute;
          top: -10px;
          width: 3px;
          left: -10px;
          background-color: #00B2BC;
          transition-timing-function: ease-out;
          transition-duration: .2s;
          max-width: 100%;
          opacity: 0;
          height: 0px;
          transform: translateY(50%); }
      header .drawer-nav .drawer-menu-item i {
        float: right;
        font-size: 21px;
        margin-top: 9px;
        transition: all 0.3s;
        color: #0d3365; }
        @media only screen and (max-width: 992px) {
          header .drawer-nav .drawer-menu-item i {
            font-size: 16px;
            margin-top: 4px; } }
      header .drawer-nav .drawer-menu-item.active i {
        transform: rotate(90deg); }
    header .drawer-nav .drawer-sousmenup {
      display: none; }
      header .drawer-nav .drawer-sousmenup .drawer-menu-item {
        font-size: 18px; }
    header .drawer-nav .drawer-menu-top {
      padding: 64px 93px 33px;
      margin: 0;
      position: relative;
      background: #ffffff;
      -webkit-backdrop-filter: blur(10px);
              backdrop-filter: blur(10px); }
      header .drawer-nav .drawer-menu-top .drawer-menu-item {
        color: #000000;
        position: relative; }
      @media only screen and (max-width: 992px) {
        header .drawer-nav .drawer-menu-top {
          padding: 58px 15px 1px; } }
    header .drawer-nav .drawer-menu {
      padding: 73px 40px 109px 92px;
      position: relative;
      background: #ffffff;
      -webkit-backdrop-filter: blur(10px);
              backdrop-filter: blur(10px); }
      @media only screen and (max-width: 992px) {
        header .drawer-nav .drawer-menu {
          padding: 15px 15px 100px 15px; } }
      header .drawer-nav .drawer-menu::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 103px;
        height: 1px;
        width: calc(100% - 206px);
        background-color: rgba(148, 148, 148, 0.19); }
        @media only screen and (max-width: 992px) {
          header .drawer-nav .drawer-menu::after {
            left: 25px;
            width: calc(100% - 50px); } }
  header .header-logo {
    font-size: 00px;
    font-weight: 400;
    margin: 0; }
    header .header-logo img {
      width: 100%;
      max-width: 186px; }
    @media only screen and (max-width: 1110px) {
      header .header-logo + .upperbar .container {
        padding: 0 5px; }
        header .header-logo + .upperbar .container a {
          padding: 0 2px;
          height: 20px;
          line-height: 20px; } }
  header .upperbar {
    width: auto;
    padding: 0; }
    @media only screen and (max-width: 1025px) {
      header .upperbar {
        display: none; } }
    @media only screen and (max-width: 1025px) {
      header .upperbar .container {
        padding: 10px 65px; } }
    @media only screen and (max-width: 641px) {
      header .upperbar .container {
        padding: 10px 20px; } }
    header .upperbar .tags {
      padding: 0;
      text-align: center; }
      @media only screen and (max-width: 1025px) {
        header .upperbar .tags {
          text-align: left; } }
    header .upperbar a {
      padding: 0 5px;
      height: 23px;
      line-height: 23px;
      font-size:  0.9375rem;
      transition: all .3s ease-in-out; }


        @media only screen and (max-width: 1025px) {
          header .upperbar a.active {
            background-color: #fe9301;
            border: 1px solid #fe9301; } }
    header .upperbar .c-buttons a {
      font-size: 14px; }
      header .upperbar .c-buttons a i {
        margin-right: 5px;
        font-size: 12px; }
  header .s-langue {
    cursor: pointer; }
    header .s-langue i {
      font-size: 22px;
      color: #0d3365; }
    header .s-langue .fa-angle-down {
      font-size: 18px;
      margin-left: 8px; }
    header .s-langue.dropdown-active > div {
      display: block; }
    header .s-langue > div {
      display: none;
      position: absolute;
      padding: 15px 0;
      background: white;
      left: -7px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16); }
      header .s-langue > div a.btn {
        background-color: white;
        color: #6D6E70;
        font-size: 16px;
        border: 0;
        padding: 0 15px; }
        header .s-langue > div a.btn.active, header .s-langue > div a.btn:hover {
          font-weight: 500; }
  header .navbar-brand {
    transition: all .15s ease-in-out;
    margin-right: 0;
    margin-left: 84px;
    cursor: pointer; }
    header .navbar-brand img {
      width: 100%;
      max-width: 185px; }
  header .navbar-toggler {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    transform: rotate(0deg);
    transition: all .3s ease-in-out;
    cursor: pointer;
    outline: none;
    z-index: 99; }
    header .navbar-toggler:focus, header .navbar-toggler:active {
      border: 0; }
    @media only screen and (max-width: 1025px) {
      header .navbar-toggler {
        display: none !important; } }
    header .navbar-toggler span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      background: #1E313E; }
      header .navbar-toggler span:nth-child(1) {
        top: 0px; }
      header .navbar-toggler span:nth-child(2) {
        top: 10px; }
      header .navbar-toggler span:nth-child(3) {
        top: 20px; }
    @media only screen and (max-width: 1025px) {
      header .navbar-toggler.is-open span {
        background: #0d3365; } }
    header .navbar-toggler.is-open span:nth-child(1) {
      top: 11px;
      transform: rotate(135deg); }
    header .navbar-toggler.is-open span:nth-child(2) {
      opacity: 0;
      left: -60px; }
    header .navbar-toggler.is-open span:nth-child(3) {
      top: 11px;
      transform: rotate(-135deg); }
  @media screen and (min-width: 992px) {
    header .searsh-container {
      transition: all 0.3s ease-in-out;
      visibility: hidden;
      opacity: 0;
      width: 0;
      position: absolute;
      left: 320px; }
      header .searsh-container input {
        width: 100%;
        border: 0;
        border-left: 1px solid #E3E3E3;
        padding: 0 20px; }
        header .searsh-container input:-ms-input-placeholder {
          font-size: 18px;
          color: rgba(57, 57, 57, 0.6); }
        header .searsh-container input::placeholder {
          font-size: 18px;
          color: rgba(57, 57, 57, 0.6); } }
  @media only screen and (max-width: 767px) {
    header .searsh-container {
      width: 100%;
      max-width: 400px;
      margin-right: 0px;
      transition-duration: .3s;
      transform-origin: top;
      transform: scaleY(0);
      height: 0; } }
  @media only screen and (max-width: 992px) {
    header .searsh-container > form {
      position: relative; }
      header .searsh-container > form:after {
        position: absolute;
        content: "\F002";
        font-family: 'Font Awesome 5 Pro';
        font-weight: lighter;
        left: 6px;
        top: 8px;
        color: #b0b0b0;
        font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    header .searsh-container > form {
      width: 100%;
      position: relative; } }
  @media only screen and (max-width: 992px) {
    header .searsh-container > form #txt-global-search {
      padding-left: 30px; } }
  @media only screen and (max-width: 767px) {
    header .searsh-container > form #txt-global-search {
      width: 100%;
      padding-left: 30px; } }
  header .navbar-collapse {
    -ms-flex-direction: column;
        flex-direction: column;
    padding-top: 12px;
    padding-bottom: 5px; }
    @media screen and (min-width: 992px) {
      header .navbar-collapse {
        transition: all 0.3s ease-in-out;
        opacity: 1;
        visibility: visible; } }
    header .navbar-collapse .upperbar {
      width: 100%;
      padding: 6px 0;
      display: none; }
      @media only screen and (max-width: 1025px) {
        header .navbar-collapse .upperbar {
          display: block; } }
      @media only screen and (max-width: 1025px) {
        header .navbar-collapse .upperbar .container {
          padding: 10px 65px; } }
      @media only screen and (max-width: 641px) {
        header .navbar-collapse .upperbar .container {
          padding: 10px 20px; } }
      header .navbar-collapse .upperbar .tags {
        padding: 0;
        text-align: right; }
        @media only screen and (max-width: 1025px) {
          header .navbar-collapse .upperbar .tags {
            text-align: left; } }
      header .navbar-collapse .upperbar a {
        color: #1e303d;
        padding: 0 5px;
        height: 23px;
        line-height: 23px;
        font-size:  0.9375rem;
        transition: all .3s ease-in-out; }
        @media only screen and (max-width: 1025px) {
          header .navbar-collapse .upperbar a {
            color: #ffffff;
            font-size:  1.375rem;
            padding: 6px;
            height: auto;
            line-height: normal;
            font-weight: 300;
            border: 1px solid #303856; } }
        header .navbar-collapse .upperbar a:hover {
          background-color: #263055;
          color: white; }
          @media only screen and (max-width: 1025px) {
            header .navbar-collapse .upperbar a:hover {
              background-color: #fe9301;
              border: 1px solid #fe9301; } }
        header .navbar-collapse .upperbar a.active {
          background-color: #263055;
          color: #ffffff; }
          @media only screen and (max-width: 1025px) {
            header .navbar-collapse .upperbar a.active {
              background-color: #fe9301;
              border: 1px solid #fe9301; } }
  @media only screen and (max-width: 1025px) {
    header .navbar-expand-lg .navbar-collapse {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      -ms-flex-positive: 1;
          flex-grow: 1;
      -ms-flex-align: center;
          align-items: center;
      display: inline-block !important;
      position: fixed;
      top: 0;
      right: -50%;
      height: 100%;
      width: 50%;
      padding-top: 80px;
      text-align: left;
      background: #171d33;
      color: #ffffff;
      overflow: scroll;
      transition: all .2s ease-in-out; } }
  @media only screen and (max-width: 992px) {
    header .navbar-expand-lg .navbar-collapse {
      width: 70%;
      right: -70%; } }
  @media only screen and (max-width: 641px) {
    header .navbar-expand-lg .navbar-collapse {
      width: 90%;
      right: -90%; } }
  @media only screen and (max-width: 1025px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav {
      padding: 0;
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-flow: column;
          flex-flow: column; } }
  header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item:hover .nav-link:after {
    opacity: 1;
    width: 90%; }
  @media only screen and (max-width: 1025px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item {
      width: 100%;
      text-align: left; } }


  @media only screen and (max-width: 1025px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item .nav-link {
      color: #ffffff;
      margin: 0;
      font-size:  1.75rem;
      font-weight: 300;
      padding: 10px 10px 0 65px;
      width: 100%; } }
  @media only screen and (max-width: 641px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item .nav-link {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 500; } }
  @media only screen and (max-width: 324px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item .nav-link {
      font-size:  1.5rem; } }
  header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item .nav-link.show i {
    transition: all .3s ease-in-out;
    transform: rotate(90deg); }
  @media only screen and (max-width: 1025px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.parent {
      padding-bottom: 0; } }
  @media only screen and (max-width: 1025px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.parent.account {
      margin: 0;
      margin-left: 40px; } }
  @media only screen and (max-width: 641px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.parent .nav-link {
      position: relative; }
      header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.parent .nav-link::after {
        content: "\E94A";
        font-family: icomoon;
        position: absolute;
        display: inline-block !important;
        transform: rotate(-180deg);
        right: 20px;
        left: unset;
        opacity: 1;
        height: auto;
        width: auto;
        top: 11px;
        font-size: 14px;
        bottom: unset;
        background: transparent;
        transition-duration: .3s; }
      header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.parent .nav-link.show::after {
        transform: rotate(-90deg); } }
  @media only screen and (max-width: 1025px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.startuper .nav-link {
      padding-bottom: 10px;
      border: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      font-size:  1rem;
      padding-left: 0; } }
  @media (min-width: 1025px) and (max-width: 1055px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons .btn {
      font-size:  0.84375rem; } }
  @media only screen and (max-width: 1290px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons .btn-h40 {
      height: 30px;
      line-height: 30px; } }
  @media only screen and (max-width: 1025px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons .btn-h40 {
      height: 40px;
      line-height: 25px; } }
  @media only screen and (max-width: 1290px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons .btn-w20 {
      padding: 0 5px;
      font-size:  0.875rem; } }
  @media only screen and (max-width: 1025px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons .btn-w20 {
      font-size:  1.125rem;
      padding: 0 20px; } }
  @media only screen and (max-width: 1025px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons {
      -ms-flex-order: -1;
          order: -1;
      padding: 10px 10px 10px 65px; } }
  @media only screen and (max-width: 641px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons {
      padding: 0px 20px 10px; } }
  header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project {
    padding: 0 10px; }
    @media only screen and (max-width: 1025px) {
      header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project {
        -ms-flex-order: -2;
            order: -2;
        padding: 10px 10px 10px 65px; } }
    @media only screen and (max-width: 641px) {
      header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project {
        padding: 0px 20px 10px; } }
    @media (min-width: 1025px) and (max-width: 1055px) {
      header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project .btn {
        font-size:  0.84375rem; } }
    @media only screen and (max-width: 1290px) {
      header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project .btn-w20 {
        padding: 0 5px;
        font-size:  0.875rem; } }
    @media only screen and (max-width: 1025px) {
      header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project .btn-w20 {
        font-size:  1.125rem;
        padding: 0 20px; } }
    @media only screen and (max-width: 1290px) {
      header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project .btn-h40 {
        height: 30px;
        line-height: 30px; } }
    @media only screen and (max-width: 1025px) {
      header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.submit-project .btn-h40 {
        height: 40px;
        line-height: 40px; } }
  @media only screen and (max-width: 1025px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item ul.sous-title li {
      margin: 0;
      padding: 0; } }
  @media only screen and (max-width: 1025px) {
    header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item ul.sous-title li a {
      font-size:  1rem;
      font-weight: 300;
      padding: 7px 0;
      color: #ffffff;
      display: inline-block; } }
  header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item ul.sous-title li a img {
    width: 22px;
    max-height: 22px; }
  header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.nav-item-center ul.sous-title li {
    -ms-flex: 1;
        flex: 1;
    text-align: center; }
    @media only screen and (max-width: 1025px) {
      header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.nav-item-center ul.sous-title li {
        padding: 6px 0;
        text-align: left;
        font-size:  0.875rem; } }
  @media only screen and (max-width: 1025px) {
    header .collapse.show {
      right: 0; } }
  @media only screen and (max-width: 1025px) {
    header .collapse:not(.show) {
      display: block !important; } }
  header .navbar {
    margin: 0 auto;
    padding: 5px 15px;
    transition: all .15s ease-in-out; }
    @media only screen and (max-width: 1025px) {
      header .navbar {
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-flow: wrap;
            flex-flow: wrap;
        padding: 5px 15px; } }
    @media only screen and (max-width: 767px) {
      header .navbar {
        padding: 9.5px 15px; } }
    header .navbar .navbar-nav {
      -ms-flex-align: center;
          align-items: center;
      margin: 0 auto; }
      @media only screen and (max-width: 1025px) {
        header .navbar .navbar-nav {
          -ms-flex-direction: column;
              flex-direction: column;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; } }
      @media screen and (min-width: 992px) {
        header .navbar .navbar-nav {
          position: relative;
          z-index: 9; } }
      @media only screen and (max-width: 1025px) {
        header .navbar .navbar-nav .nav-item {
          text-align: center;
          position: relative;
          padding: 0; } }
      header .navbar .navbar-nav .nav-item .btn {
        text-transform: uppercase;
        background-color: #00B2BC;
        border-color: #00B2BC;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.28); }
        header .navbar .navbar-nav .nav-item .btn:hover {
          background-color: #ffffff;
          border-color: #00B2BC;
          color: #00B2BC;
          box-shadow: none; }
      header .navbar .navbar-nav .nav-item.active .nav-link:after {
        width: 100%; }
      header .navbar .navbar-nav .nav-item.parent > a .avatar i.fa-user-circle {
        font-size: 20px; }
      header .navbar .navbar-nav .nav-item.parent > a i {
        display: inline-block;
        position: relative;
        right: -2px;
        top: -1px;
        transform: rotate(90deg);
        font-size:  0.5rem;
        transition: all .3s ease-in-out; }
        header .navbar .navbar-nav .nav-item.parent > a i.fa-user-circle {
          font-size:  1rem;
          transform: rotate(0deg);
          vertical-align: middle;
          margin-right: 6px;
          font-weight: 200; }
      header .navbar .navbar-nav .nav-item.dropdown a.dropdown-toggle:hover {
        transition: all .3s ease-in-out; }
        header .navbar .navbar-nav .nav-item.dropdown a.dropdown-toggle:hover .dropdown-menu {
          display: block; }
      header .navbar .navbar-nav .nav-item .nav-link {
        font-size: 17px;
        font-weight: 400;
        color: #1e303d;
        margin: 0 36px 0 0;
        position: relative;
        padding: 0 0 6px; }
        @media (max-width: 1522.98px) {
          header .navbar .navbar-nav .nav-item .nav-link {
            font-size: 16px;
            margin: 0 26px 0 0; } }
        header .navbar .navbar-nav .nav-item .nav-link:after {
          content: '';
          height: 5px;
          background: #00B2BC;
          position: absolute;
          bottom: 0;
          border: 0;
          margin: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          transition: all .5s ease-in-out;
          opacity: 0; }
          @media only screen and (max-width: 1025px) {
            header .navbar .navbar-nav .nav-item .nav-link:after {
              display: none; } }
        header .navbar .navbar-nav .nav-item .nav-link .avatar {
          max-width: 22px;
          border-radius: 50%;
          overflow: hidden;
          display: inline-block;
          vertical-align: bottom;
          margin-right: 4px; }
          @media only screen and (max-width: 1025px) {
            header .navbar .navbar-nav .nav-item .nav-link .avatar {
              width: 40px;
              max-width: none; } }
        @media only screen and (max-width: 1370px) {
          header .navbar .navbar-nav .nav-item .nav-link {
            font-size:  1rem;
            margin-right: 0;
            margin-left: 0;
            margin-top: 0;
            margin-right: 13px; } }
        @media only screen and (max-width: 1290px) {
          header .navbar .navbar-nav .nav-item .nav-link {
            font-size:  0.875rem; } }
        @media (min-width: 1025px) and (max-width: 1055px) {
          header .navbar .navbar-nav .nav-item .nav-link {
            font-size:  0.84375rem; } }
        @media only screen and (max-width: 992px) {
          header .navbar .navbar-nav .nav-item .nav-link {
            display: inline-block; }
            header .navbar .navbar-nav .nav-item .nav-link:after {
              display: none; } }
        header .navbar .navbar-nav .nav-item .nav-link:hover {
          background-color: transparent; }
      header .navbar .navbar-nav .nav-item.active .nav-link:after {
        opacity: 1; }
      @media only screen and (max-width: 1025px) {
        header .navbar .navbar-nav .nav-item .btn {
          width: 100%;
          height: 45px;
          line-height: 45px;
          font-size:  1.375rem; } }
      @media only screen and (max-width: 324px) {
        header .navbar .navbar-nav .nav-item .btn {
          width: 100%; } }
      @media only screen and (max-width: 1025px) {
        header .navbar .navbar-nav .nav-item .btn.btn-transparent-black {
          border-color: #ffffff;
          color: #ffffff; }
          header .navbar .navbar-nav .nav-item .btn.btn-transparent-black:hover {
            background-color: #ffffff;
            color: #000000; } }
      header .navbar .navbar-nav .nav-item .btn i {
        margin-right: 10px;
        font-size: 18px; }
      header .navbar .navbar-nav .nav-item .nav-link.account {
        visibility: visible;
        opacity: 1;
        top: 30px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
        z-index: -1;
        transition-delay: 0s, 0s, .2s; }
        @media only screen and (max-width: 1290px) {
          header .navbar .navbar-nav .nav-item .nav-link.account {
            top: 32px; } }
      header .navbar .navbar-nav .nav-item.account {
        height: 50px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center; }
        header .navbar .navbar-nav .nav-item.account ul.sous-title {
          opacity: 1;
          visibility: 1;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
              flex-direction: column;
          width: 300px;
          min-width: auto;
          max-width: auto;
          right: 0;
          transform: none;
          left: unset;
          padding: 30px 30px;
          transform: scaleY(0);
          transform-origin: top;
          top: 100%; }
        header .navbar .navbar-nav .nav-item.account:hover ul.sous-title {
          visibility: visible;
          opacity: 1;
          transform: scaleY(1); }
        header .navbar .navbar-nav .nav-item.account ul.sous-title.dropdown-active {
          visibility: visible;
          opacity: 1;
          top: 0px;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
          z-index: -1;
          transition-delay: 0s,
 0s,
 .2s; }
          @media only screen and (max-width: 1290px) {
            header .navbar .navbar-nav .nav-item.account ul.sous-title.dropdown-active {
              top: 32px; } }
          @media only screen and (max-width: 1025px) {
            header .navbar .navbar-nav .nav-item.account ul.sous-title.dropdown-active {
              position: relative;
              height: auto;
              padding: 0 0 0 95px;
              top: 0;
              transform: translateY(0px);
              transition: none;
              visibility: visible;
              opacity: 1;
              display: none;
              width: 100%;
              text-align: center; } }
          @media only screen and (max-width: 641px) {
            header .navbar .navbar-nav .nav-item.account ul.sous-title.dropdown-active {
              padding: 0 0 0 40px; } }
      header .navbar .navbar-nav .nav-item:hover ul.sous-title {
        visibility: visible;
        opacity: 1;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
        z-index: -1;
        transition-delay: 0s, 0s, .2s;
        transform: translateX(-50%) scaleY(1); }
        @media only screen and (max-width: 1290px) {
          header .navbar .navbar-nav .nav-item:hover ul.sous-title {
            top: 32px; } }
        @media only screen and (max-width: 1025px) {
          header .navbar .navbar-nav .nav-item:hover ul.sous-title {
            position: relative;
            height: auto;
            padding: 0 0 0 95px;
            top: 0;
            transform: translateY(0px);
            transition: none;
            visibility: visible;
            opacity: 1;
            display: none;
            width: 100%;
            text-align: center;
            z-index: 2; } }
        @media only screen and (max-width: 641px) {
          header .navbar .navbar-nav .nav-item:hover ul.sous-title {
            padding: 0 0 10px 40px; } }
      @media only screen and (max-width: 1025px) {
        header .navbar .navbar-nav .nav-item:hover {
          transform: none;
          transition-delay: initial; } }
      header .navbar .navbar-nav .nav-item ul.sous-title {
        position: absolute;
        background-color: #ffffff;
        margin-left: 10px;
        margin-top: 0;
        top: -30px;
        z-index: 2;
        padding: 10px 10px 10px 3px;
        visibility: hidden;
        transition: all .2s ease-in-out 0s, visibility 0s linear;
        opacity: 0;
        overflow: hidden;
        white-space: nowrap;
        z-index: -1; }
        @media only screen and (max-width: 1025px) {
          header .navbar .navbar-nav .nav-item ul.sous-title {
            padding: 0 0 0 95px;
            background-color: transparent;
            white-space: initial; } }
        @media only screen and (max-width: 641px) {
          header .navbar .navbar-nav .nav-item ul.sous-title {
            padding: 0 0 0 40px; } }
        @media only screen and (max-width: 1370px) {
          header .navbar .navbar-nav .nav-item ul.sous-title {
            margin: 0; } }
        @media only screen and (max-width: 1025px) {
          header .navbar .navbar-nav .nav-item ul.sous-title {
            position: relative;
            height: auto;
            top: 0;
            margin: 0;
            transform: translateY(0px);
            transition: none;
            visibility: visible;
            opacity: 1;
            display: none;
            padding: 0 0 0 95px; } }
        @media only screen and (max-width: 641px) {
          header .navbar .navbar-nav .nav-item ul.sous-title {
            padding: 0 0 0 40px; } }
        @media screen and (min-width: 992px) {
          header .navbar .navbar-nav .nav-item ul.sous-title {
            left: 47%;
            transform: translateX(-50%) scaleY(0);
            margin: 0;
            padding: 43px 52px 0;
            display: flex;
            flex-wrap: wrap;
            min-width: max-content;
            width: 100%;
            visibility: visible;
            transform-origin: top;
            top: 100%; } }

        header .navbar .navbar-nav .nav-item ul.sous-title.show {
          visibility: visible;
          opacity: 1;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
          z-index: -1;
          transition-delay: 0s, 0s, .2s; }
          @media only screen and (max-width: 1290px) {
            header .navbar .navbar-nav .nav-item ul.sous-title.show {
              top: 32px; } }
          @media only screen and (max-width: 1025px) {
            header .navbar .navbar-nav .nav-item ul.sous-title.show {
              position: relative;
              height: auto;
              padding: 0 0 0 95px;
              top: 0;
              transform: translateY(0px);
              transition: none;
              visibility: visible;
              opacity: 1;
              display: none;
              width: 100%;
              text-align: center;
              z-index: 2;
              background-color: #ffffff; } }
          @media only screen and (max-width: 641px) {
            header .navbar .navbar-nav .nav-item ul.sous-title.show {
              padding: 0 0 0 40px; } }
        header .navbar .navbar-nav .nav-item ul.sous-title li {
          position: relative;
          text-align: left;
          margin: 0 0 6px 6px;
          transition: all .2s ease-in-out;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%;
          width: auto; }
          @media screen and (min-width: 992px) {
            header .navbar .navbar-nav .nav-item ul.sous-title li {
              margin: 0 0 28px; } }
          @media only screen and (max-width: 1025px) {
            header .navbar .navbar-nav .nav-item ul.sous-title li {
              margin: 0 0 6px;}}

