//import Global 
@import './sass/global-rules';
//import Couleurs
@import './sass/couleurs';
//import Header
@import './sass/header';
//import Banner
@import './sass/banner';
//import publications
@import './sass/publications';
//import Acualité
@import './sass/actualite';
//import plateforme
@import './sass/plateforme';
//import reassurance_chiffres
@import './sass/reassurance';
//import footer
@import './sass/footer';
  
%drawerb
{
    width: 100%;
    height: 2px;
    transition: all .6s cubic-bezier(.19, 1, .22, 1);
    background-color: #3ca7f1;
}
%drawer{
    position: absolute;
    top: -10px;
    left: 0;
    content: " ";
}


#back-to-top {
    position: fixed;
    bottom: 70px;
    right: 2px;
    height: 40px;
    width: 40px;
    background-color: $Panafricanh2;
    color: $blanc;
    border-radius: 50%;
    text-align: center;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
    z-index: 999;
    display: none;
    :hover {
        background: $blanc;
    }
    .show {
        opacity: 1;
    }
  }
  @media only screen and (max-width: 600px) {
      #back-to-top{
          position: relative;
          right:- 331px;
      }
  }
  
  
  
  .toggle-switch {
    margin: 40px;
  }

  .toggle-switch,
  .toggle-switch .toggle-knob {
    transition: all 0.2s ease-in;
  }

  .toggle-switch {
    display: inline-block;
    width: 55px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #d2d6de;
    border-radius: 30px;
    transform: scale(2);
    box-shadow: inset 1px 1px 9px -3px rgba(4, 4, 4, 0.08),
      1px 2px 6px -2px rgba(0, 0, 0, 0.01);
    cursor: pointer;
  }

  .toggle-switch .toggle-knob {
    display: inline-block;
    width: 28px;
    height: 26px;
    margin: 1px 1px;
    background-color: #ffffff;
    border: solid 1px rgba(126, 126, 126, 0.07);
    border-radius: 50px;
    box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26),
      0 5px 1px rgba(107, 106, 106, 0.13);
  }

  .toggle-switch.active {
    background-color: #77e189;
    border: solid 1px transparent;
  }