ul, li {
  list-style: none;
}

* {
  margin: 0;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
  padding: 0 20px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.publications {
  margin-bottom: 2.50rem;
}

.actualite {
  padding: 65px 0 50px;
  position: relative;
}

.actualite .img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.actualite h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.actualite .bloc-column {
  padding: 0;
}

.actualite .bloc-column :first-child {
  padding: 0 92px 0 0;
}

.actualite .bloc-column :first-child h2 {
  margin-bottom: 44px;
}

.actualite .actus {
  position: relative;
}

.actualite .actus h2 {
  font-size: 24px;
  font-weight: 500;
  color: #393939;
  text-transform: none;
  margin-bottom: 14px;
}

.actualite .actus p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  color: #393939;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

@media only screen and (max-width: 1024px) {
  .actualite {
    margin-bottom: 0px;
  }
  .actualite h2 {
    font-size: 24px;
  }
  .actualite .bloc-column :first-child {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 600px) {
  .actualite {
    margin-bottom: 0px;
  }
  .actualite .actus {
    padding-top: 0px;
  }
  .actualite .actus h2 {
    font-size: 1.125rem;
  }
  .actualite .actus p {
    font-size: 0.875rem;
  }
}

.plateforme {
  position: relative;
  padding-bottom: 75px;
  background-color: #e5e5e5;
  padding-top: 125px;
}

.plateforme .content-nos-garanties {
  padding: 1.56rem 0;
}

.plateforme .content-nos-garanties h2 {
  color: #393939;
  font-size: 2.25rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 2.50rem 0 1.125rem;
}

.plateforme .content-nos-garanties p {
  color: #000000;
  font-size: 1.37rem;
  font-weight: 300;
  margin-bottom: 1.56rem;
  line-height: 1.7;
}

.plateforme .content-nos-garanties .btn {
  color: #1075bb;
  background-color: transparent;
  border: 1px solid transparent;
  height: 3.125rem;
  line-height: 3.125rem;
  padding: 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
}

.plateforme .content-nos-garanties .btn :hover {
  color: #0d3365;
  background-color: transparent;
  border: 1px solid transparent;
}

.plateforme .content-nos-garanties .btn :hover i {
  margin-left: 30px;
}

.plateforme .content-nos-garanties .btn i {
  margin-left: 21px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #1b539e;
  font-weight: 600;
}

.plateforme .video-plateforme {
  padding: 12px 0;
}

.plateforme .video-plateforme img, .plateforme .video-plateforme iframe {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.16);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.16);
}

.plateforme .video-plateforme img {
  -o-object-fit: cover;
     object-fit: cover;
}

.plateforme .video-plateforme .vid-bloc {
  height: 100%;
  -webkit-box-shadow: 8px 8px 15px 7px rgba(0, 0, 0, 0.212);
          box-shadow: 8px 8px 15px 7px rgba(0, 0, 0, 0.212);
}

.plateforme .video-plateforme .h-video {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plateforme .video-plateforme .h-video .p-iframe .cover :after {
  content: initial;
}

.plateforme .video-plateforme .h-video .p-iframe iframe {
  width: 100%;
}

.plateforme .video-plateforme .cover {
  position: relative;
  cursor: pointer;
}

.plateforme .video-plateforme .cover :hover :after {
  border-width: 60px 0 60px 103.9px;
  border-color: transparent transparent transparent #0d3365;
}

.plateforme .video-plateforme .cover :hover :before {
  opacity: 0.4;
}

.plateforme .video-plateforme .cover :after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #ffffff;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 0 35px 60.6px;
  border-color: transparent transparent transparent #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.plateforme .video-plateforme .cover :before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .plateforme {
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .plateforme .content-nos-garanties {
    padding: 20px;
  }
  .plateforme .content-nos-garanties h2 {
    font-size: 30px;
  }
  .plateforme .content-nos-garanties p {
    font-size: 18px;
  }
  .plateforme .video-plateforme .h-video .p-iframe iframe {
    height: 18.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .plateforme .content-nos-garanties h2 {
    font-size: 22px;
  }
  .plateforme .content-nos-garanties p {
    font-size: 16px;
  }
  .plateforme .video-plateforme .h-video .p-iframe iframe {
    height: 12.5rem;
  }
}

.reassurance_chiffres {
  position: relative;
}

.reassurance_chiffres .map-reass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.5;
}

.reassurance_chiffres .reassurance {
  position: relative;
  padding: 40px 0 83px;
  z-index: 99999;
}

@media only screen and (max-width: 1024px) {
  .reassurance_chiffres .map-reass {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 600px) {
  .reassurance {
    padding: 30px 20px;
  }
}

footer {
  background-color: #393939;
}

footer h4 {
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

footer p {
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
  margin: 20px 0;
}

footer ul {
  padding: 0;
}

footer ul li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 18px;
}

footer ul li a {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

footer ul li a :after {
  content: '';
  width: 0;
  height: 1px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer ul li a :hover {
  color: #ffffff;
}

.b-footer .b-footer__contact {
  padding-top: 52px;
}

.b-footer .b-footer__contact .container {
  width: 90%;
}

.b-footer .b-footer__contact .container .b-footer__contact--bkr p {
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
  margin: 20px 0;
}

.b-footer .b-footer__contact .copyright .pcopyright {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  footer .b-footer__bottomline {
    padding: 30px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-transition: all .3s ease, top 0.3s ease;
  transition: all .3s ease, top 0.3s ease;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
}

.main-header .navG .drawer-hamburger {
  position: fixed;
  z-index: 4;
  top: 0;
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 2rem;
  padding: 0;
  padding: 18px .75rem 30px;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  border: 0;
  outline: 0;
  background-color: transparent;
  outline: none;
}

.main-header .navG .drawer-hamburger :hover {
  cursor: pointer;
  background-color: transparent;
}

.main-header .navG .drawer-hamburger .sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.main-header .navG .drawer-hamburger .drawer-hamburger-icon {
  position: relative;
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #222;
}

.main-header .navG .drawer-hamburger .drawer-hamburger-icon :after, .main-header .navG .drawer-hamburger .drawer-hamburger-icon :before {
  position: absolute;
  top: -10px;
  left: 0;
  content: " ";
}

.main-header .navG .drawer-hamburger .navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar .contenaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar .navbar-nav .nav-item ul .sous-title {
  position: absolute;
  background-color: #ffffff;
  margin-left: 10px;
  margin-top: 0;
  z-index: 2;
  padding: 10px 10px 10px 3px;
  visibility: hidden;
  -webkit-transition: all .2s ease-in-out 0s, visibility 0s linear;
  transition: all .2s ease-in-out 0s, visibility 0s linear;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */