
   @media only screen and (max-width: 1290px) {
     header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons .btn-h40 {
       height: 30px;
       line-height: 30px; } }

   @media only screen and (max-width: 1290px) {
     header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.c-buttons .btn-w20 {
       padding: 0 5px;
       font-size:  0.875rem; } }



   
